<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Dbconnectstring>Data Source=192.168.0.21;User ID=sa;Password=Service1234;Initial Catalog=OA;Pooling=true</Dbconnectstring>
	<UserID>sa</UserID>
	<Password>Aa123456</Password>
	<DataServer>192.168.0.21</DataServer>
  <Forumpath>/</Forumpath>
  <Dbtype>SqlServer</Dbtype>
  <Founderuid>1</Founderuid>
  
	 
  <ErpDbConnectString>Data Source=ERPLN;user=baan;password=gperp;</ErpDbConnectString>
  <ErpUserID>baan</ErpUserID>
  <ErpPassword>gperp</ErpPassword>
  <ErpServer>172.166.0.19</ErpServer>
  <ErpDbType>Oracle</ErpDbType>

 
</BaseConfigInfo>